@charset "utf-8";
/* CSS Document */

body{
	background-color:royalblue;
	background-size: cover;
			background-repeat: no-repeat;
			min-height: 10%;
			min-width: 10%;
			padding-bottom: 100px;
}
h1{
	color:white;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 1000%;
	min-width: 100%;
	text-align: center;
}
box{
	background-color:white;
	background-size: cover;
			background-repeat: no-repeat;
			min-height: 1000px;
			min-width: 1000px;
	color: red;
}
coolbox{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	color: red;

}

bio{
	display: block;
	width: 800px;
	margin: auto;
	


	
	padding-top: 10px;
	
	
	
	
	
	

	
	
	
}
.iconss{
	position: inherit;
	
	display: block;
	
	margin-left: auto;
	margin-right: auto;
	
	width: 100%;
	height: 100%;
	border-radius: 100%;
}
.smallman{
	position: inherit;
	
	display: block;
	
	margin-left: auto;
	margin-right: auto;
	
	width: 10%;
	height: 1%;
	border-radius: 100%;
	animation-name: reverseing;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	
	
}
.smallman:hover{
	animation-name: rotating;
	animation-duration: 1s;
	
	animation-fill-mode: forwards;
	
}
@keyframes rotating{
	0%{
transform: rotate(0deg);
		width: 10%;
		height:10%;
		
	}
	100%{
	transform: rotate(360deg);
		width: 50%;
		height: 50%;
}
}
@keyframes reverseing{
	0%{
		transform: rotate(360deg);
		width: 50%;
		height: 50%;
	}
	100%{
		transform: rotate(0deg);
			width: 10%;
		height: 10%;
	}
}


welcome{
    
    float: inherit;
    position: absolute;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 1000px;
    height: 1000px;
    border-radius: 100%;
    background-color: lightblue;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
    
    text-align: center;
    color: white;
   
	margin-left: 24%
	
	
}
game{
	display:grid;
	grid-template-columns: 230px 230px 230px;
	grid-column-gap: 100px;
	
	position: relative;
	
	

	
	margin: auto;
	width:980px;
	padding-top:100px;
}
gameimages{
	display: grid;
	grid-template-columns: 230px 230px 230px;
	grid-column-gap: 250px;
	width: 900px;
	margin: auto;
	height: 500px;
	padding-top: 100px;
	
}

.gamesmol{
	
	height:100%;
	border-radius: 100%;
}
.gamesmol:hover{
	animation-name: scaling;
	animation-duration: 4s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	
}
@keyframes scaling{
	0%{
		
	}
	20%{
		transform: rotate(35deg);
		
		
		margin-bottom: 100px;
		margin-left: 100px;
	}
	40%{
		transform: rotate(-35deg);
		margin-bottom: -100px;
		margin-left: -100px;
	}
	60%{
		transform: rotate(35deg);
		margin-bottom: 100px;
		margin-left: 100px;
	}
	80%{
		transform: rotate(-35deg);
		margin-bottom: -100px;
		margin-left: -100px;
	}
	100%{
		transform: rotate(0deg);
		margin-bottom: 0px;
		margin-left: 0px;
	}
}

biopage{
	display: block;
	width: 800px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	
	height: 800px;
	
	background-color: white;
	word-wrap:normal;
	
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 200%;
	
	text-align: center;
	color:black;
		margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	border-radius: 100%;
	padding-top: 200px;
	padding-left: 40px;
		padding-right: 40px;
		
}
inside{
	position: inherit;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	width: 800px;
	height: 800px;
	float: right;
	background-color: white;
	word-wrap: break-word;
	margin-top: 10%;
	margin-left: -40%;
	margin-right: 30%;
	margin-bottom: 30%;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 450%;
	border-radius: 100%;
	text-align: center;
	color:black;
	padding-top: 105px;
}
controls{
	width: 50%;
	height: 50%;
}
.controlsize{
	display: block;
	
	width:40%;
	margin: auto;
	height:70%;
}
.navbar{
	color: aquamarine;
}
